# Miscellaneous
expense_planner/*.class
expense_planner/*.log
expense_planner/*.pyc
expense_planner/*.swp
expense_planner/.DS_Store
expense_planner/.atom/
expense_planner/.buildlog/
expense_planner/.history
expense_planner/.svn/

# IntelliJ related
expense_planner/*.iml
expense_planner/*.ipr
expense_planner/*.iws
expense_planner/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
expense_planner/**/doc/api/
expense_planner/**/ios/Flutter/.last_build_id
expense_planner/.dart_tool/
expense_planner/.flutter-plugins
expense_planner/.flutter-plugins-dependencies
expense_planner/.packages
expense_planner/.pub-cache/
expense_planner/.pub/
expense_planner/build/

# Web related
expense_planner/lib/generated_plugin_registrant.dart

# Symbolication related
expense_planner/app.*.symbols

# Obfuscation related
expense_planner/app.*.map.json

# Android Studio will place build artifacts here
expense_planner/android/app/debug
expense_planner/android/app/profile
expense_planner/android/app/release



recipe_app/*.class
recipe_app/*.log
recipe_app/*.pyc
recipe_app/*.swp
recipe_app/.DS_Store
recipe_app/.atom/
recipe_app/.buildlog/
recipe_app/.history
recipe_app/.svn/

# IntelliJ related
recipe_app/*.iml
recipe_app/*.ipr
recipe_app/*.iws
recipe_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
recipe_app/**/doc/api/
recipe_app/**/ios/Flutter/.last_build_id
recipe_app/.dart_tool/
recipe_app/.flutter-plugins
recipe_app/.flutter-plugins-dependencies
recipe_app/.packages
recipe_app/.pub-cache/
recipe_app/.pub/
recipe_app/build/

# Web related
recipe_app/lib/generated_plugin_registrant.dart

# Symbolication related
recipe_app/app.*.symbols

# Obfuscation related
recipe_app/app.*.map.json

# Android Studio will place build artifacts here
recipe_app/android/app/debug
recipe_app/android/app/profile
recipe_app/android/app/release



shop_app/*.class
shop_app/*.log
shop_app/*.pyc
shop_app/*.swp
shop_app/.DS_Store
shop_app/.atom/
shop_app/.buildlog/
shop_app/.history
shop_app/.svn/

# IntelliJ related
shop_app/*.iml
shop_app/*.ipr
shop_app/*.iws
shop_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
shop_app/**/doc/api/
shop_app/**/ios/Flutter/.last_build_id
shop_app/.dart_tool/
shop_app/.flutter-plugins
shop_app/.flutter-plugins-dependencies
shop_app/.packages
shop_app/.pub-cache/
shop_app/.pub/
shop_app/build/

# Web related
shop_app/lib/generated_plugin_registrant.dart

# Symbolication related
shop_app/app.*.symbols

# Obfuscation related
shop_app/app.*.map.json

# Android Studio will place build artifacts here
shop_app/android/app/debug
shop_app/android/app/profile
shop_app/android/app/release
